@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "INVASION2000";
  src: url("../../public/assets/fonts/INVASION2000.TTF") format("truetype");
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px white;
  }
}
